html,
body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

img {
  object-fit: cover;
  height: 100%;
  margin: 0;

  -webkit-animation: filter-animation 20s infinite;
  -animation: filter-animation 20s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(30deg) saturate(105%);
  }

  50% {
    -webkit-filter: hue-rotate(359deg) saturate(300%);
  }

  100% {
    -webkit-filter: hue-rotate(31deg) saturate(106%);
  }
}
